/* Universal */

body {
    margin: 0;
    font-family: 'Cabin', sans-serif;}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    width: 400px;
    height: 300px;
    border: 4px white solid;
    border-radius: 8px;
}

/* Typography */

.time {
    color: white;
    font-size: 4rem;
    font-weight: 700;
}

/* Backgrounds */

.inactive {
    background: #E9C46A;
}

.active {
    background: #E76F51
}

.break {
    background: #2A9D8F;
}